.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editorContainer {
  padding: 1em;
  margin: 1em;
}

.editors {
  border: 1px blue solid;
  padding: 1em;
  margin: 1em;
  font-family: 'Open Sans';
  font-size: 90%;
}

.submitNote {
  padding: 0.25em;
  margin: 0.6em;
  border-radius: 6px;
  background: white;
}

.noteTitle {
  width: 300px;
}

input {
  margin: 1em;
  padding: 0.5em;
  length: 100%;
}
